@import url(https://fonts.googleapis.com/css?family=Raleway:100,600,400);

*,body{
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}
body{
  background-color:#111111;
}
.text-holder{
  color:#aaaaaa;
  text-align:center;
}
.button-holder{
  padding-top:100px;
}
.ajax-button{
  position:relative;
  display:inline-block;
  width:100px;
  height:40px;
  left:40%;
  top:50%;
  text-align:center;
}
.submit{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:200px;
  height:40px;
  background-color:#111111;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:17px;
  cursor:pointer !important;
  outline:none;
}

.submit:hover{
  background-color:#222222;
}
